/* --------------------------------
COMMON
------------------------------------ */
body{
    font-family: 'PT Sans', sans-serif;
}
section{
    padding: 1.875rem 0;
}
.container{
    max-width: 68.75rem;
    padding-left: 1.25rem ;
    padding-right: 1.25rem ;
    margin: auto;
}
.list-inline{
    list-style: none;
}

.margin-40{
    margin: 2.5rem 0;
}
.padding-10{
    padding: .625rem;
}
.padding-left{
    padding-left: .625rem;
}
.padding-bottom-30{
    padding-bottom: 1.875rem;
}
.margin-right-10{
    margin-right: .625rem;
}
.padding-top-10{
    padding-top: .625rem;
}
.block-inline{
    display: inline-block;
}
.width{
    width: 100%;
}
.img-position{
    height: 245px;
    width: 200px;
    position:relative ;
    top: 24px;
    
}
.img-size{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.img-radius{
    border-radius: 50%;
}

/* --------------------------------
TYPO
------------------------------------ */    
.text-center{
    text-align: center;
}
.text-blue{
    color: var(--primary-color);
}
.text-white{
    color: var(--white-text);
}
.text-gray{
    color: var(--gray-text);
}
.text-purple{
    color: var(--secondary-color);
}
.font-size{
    font-size: 1.875rem;
}
.font-style{
    font-style: italic;
}
/* --------------------------------
FLEX
------------------------------------ */

.row{
    display: flex;
}
.margin-neg{
    margin: 0 -0.625rem;
}
.align-end{
    align-items: flex-end;
} 

.justify-space-between{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.col{
    padding:0 .625rem;
}
.align-center{
    align-items: center;
}
/* --------------------------------
BUTTONS
------------------------------------ */    
.btn-white{
    background-color: var(--white-text);
    color: var(--black-text);
}
.btn-blue{
    background-color: var(--primary-color);
    color: var(--white-text);
}
.btn-purple{
    background-color: var(--secondary-color);
}
.btn{
    text-decoration: none;
    
    border-radius: 1.25rem;
}
.btn-circle{
    padding: .625rem .9375rem .625rem .9375rem;
}
.btn-small{
    padding: .625rem;
}
.btn-large{
    
    padding: .625rem 3.125rem .625rem 3.125rem ;

}
/* --------------------------------
ICONS
------------------------------------ */
.icon-md{
    font-size: 1.875rem;
}
.icon-big{
    font-size: 5rem;
}

/* --------------------------------
CARDS
------------------------------------ */
.card{
    border-radius: 1.25rem;
    padding: 1.25rem;
}
.card-light{
    background-color: var(--primary-color-light);
}
.card-white{
    background-color: var(--white-text);
}
.card-purple{
    background-color: var(--secondary-color);
}