/* --------------------------------
COMMON
------------------------------------ */
section{
    padding: 1.875rem 0;
}
.container{
    max-width: 68.75rem;
    padding-left: 1.25rem ;
    padding-right: 1.25rem ;
    margin: auto;
}
.list-inline{
    list-style: none;
}
.btn{
    text-decoration: none;
}
    
.btn-white{
    background-color: var(--white-text);
}
.btn-blue{
    background-color: var(--primary-color);
}
.btn-purple{
    background-color: var(--secondary-color);
}
.btn-big{
    padding: .625rem;
    border-radius: 1.25rem;
}
    

/* --------------------------------
FLEX
------------------------------------ */

.row{
    display: flex;
}
.margin-neg{
    margin: 0 -0.625rem;
}
.align-end{
    align-items: flex-end;
} 

.justify-space-between{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.col{
    padding:0 .625rem;
}
.align-center{
    align-items: center;
}