/* --------------------------------
SECTION HIGHLIGHTS 
------------------------------------ */
.card-debug{
    background-color: var(--primary-color-light);
    height: 100px;
}
.highlights .col{
    width: 100%;
    margin: .625rem 0;
}
/* --------------------------------
RESPONSIVE HIGHLIGHTS 
------------------------------------ */
/* tablet */
@media screen and (min-width: 768px) {
    .highlights .col{
        width:calc(100% / 3) ;
    }
    .highlights .col:first-child{
        width: calc((100% / 3 ) * 2);
    }
   .highlights .col-right{
    width: 50%;
   }
   .img-position{
    
    top: 24px;
   }
    .padding-tablet{
        padding: 1.25rem 1.25rem 7rem 1.25rem;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
   .highlights .col-left ,.highlights .col-right {
    width: calc(100% / 2 );
   }
   .img-position{
    
    top: 181px;
    left: 30px;
   }
   .padding-desktop{
    padding:1.25rem 1.25rem 8rem 1.25rem ;
   }
}
/* --------------------------------
SECTION STRATEGIC
------------------------------------ */
.strategic{
    background-color: var( --secondary-color);
    
}
.strategic .col{
    width: 100%;
    margin: .625rem 0;
}
/* --------------------------------
RESPONSIVE STRATEGIC
------------------------------------ */
/* tablet */
@media screen and (min-width: 768px) {
    .strategic .col{
        width: 100%;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
   .strategic .col-left{
        width: 60%;
        margin-right: 1.875rem;
   } 
   .strategic .col-left img{
        width: 60%;
   }
   .strategic .col-right img{
        width: 50%;
   }
    .strategic .col-right{
        width: 30%;
    }
}
/* --------------------------------
SECTION TESTIMONIAL
------------------------------------ */
.card-debug-2{
    background-color: var(--secondary-color);
    height: 100px;
}
.testimonial .col{
    width: 100%;
    margin: .625rem 0;
}
/* tablet */
@media screen and (min-width: 768px) {
    .testimonial .col{
        display: flex;
        align-items: center;
    }
}

/* --------------------------------
SECTION BENEFITS
------------------------------------ */
.benefits{
    background-color: var(--secondary-color);
}
.card-debug-3{
    background-color: var(--white-text);
    height: 100px;
}
.benefits .col{
    width: 100%;
    margin: .625rem 0;
}
/* --------------------------------
RESPONSIVE BENEFITS
------------------------------------ */
/* tablet */
@media screen and (min-width: 768px) {
    .benefits .col{
        width: calc((100% / 2) - .625rem);
        margin: .625rem .625rem .625rem 0;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    .benefits .col{
        width: calc((100% / 3) - .625rem);
        margin: .625rem .625rem .625rem 0;
    }
}
/* --------------------------------
SECTION ABOUT US
------------------------------------ */
.about-us .col{
    width: 100%;
    margin: .625rem 0;
}
/* --------------------------------
RESPONSIVE ABOUT US
------------------------------------ */
/* tablet */
@media screen and (min-width: 768px) {
    .about-us .col{
        width: 50%;
    }
}
/* --------------------------------
SECTION GET STARTED
------------------------------------ */
.get-started{
    background-color: var(--secondary-color);
    
}