/* --------------------------------
SECTION HIGHLIGHTS 
------------------------------------ */
.card-debug{
    background-color: var(--primary-color-light);
    height: 100px;
}
.highlights .col{
    width: 100%;
    margin: .625rem 0;
}
/* --------------------------------
RESPONSIVE HIGHLIGHTS 
------------------------------------ */
/* tablet */
@media screen and (min-width: 768px) {
    .highlights .col{
        width:calc(100% / 3) ;
    }
    .highlights .col:first-child{
        width: calc((100% / 3 ) * 2);
    }
}
/* --------------------------------
SECTION STRATEGIC
------------------------------------ */
.strategic{
    background-color: var( --secondary-color);
    
}
.strategic .col{
    width: 100%;
    margin: .625rem 0;
}
/* --------------------------------
RESPONSIVE STRATEGIC
------------------------------------ */
/* tablet */
@media screen and (min-width: 768px) {
    .strategic .col{
        width: 50%;
    }
}
/* --------------------------------
SECTION TESTIMONIAL
------------------------------------ */
.card-debug-2{
    background-color: var(--secondary-color);
    height: 100px;
}
.testimonial .col{
    width: 100%;
    margin: .625rem 0;
}

/* --------------------------------
SECTION BENEFITS
------------------------------------ */
.benefits{
    background-color: var(--secondary-color);
}
.card-debug-3{
    background-color: var(--white-text);
    height: 100px;
}
.benefits .col{
    width: 100%;
    margin: .625rem 0;
}
/* --------------------------------
RESPONSIVE BENEFITS
------------------------------------ */
/* tablet */
@media screen and (min-width: 768px) {
    .benefits .col{
        width: calc((100% / 2) - .625rem);
        margin: .625rem .625rem .625rem 0;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px) {
    .benefits .col{
        width: calc((100% / 3) - .625rem);
        margin: .625rem .625rem .625rem 0;
    }
}
/* --------------------------------
SECTION ABOUT US
------------------------------------ */
.about-us .col{
    width: 100%;
    margin: .625rem 0;
}
/* --------------------------------
RESPONSIVE ABOUT US
------------------------------------ */
/* tablet */
@media screen and (min-width: 768px) {
    .about-us .col{
        width: 50%;
    }
}
/* --------------------------------
SECTION GET STARTED
------------------------------------ */
.get-started{
    background-color: var(--secondary-color);
    text-align: center;
}