/* ---------------------------
VARIABLES
----------------------------- */    
:root{
    --primary-color:#0084fd;
    --primary-color-light:#b5ddff;
    --secondary-color:#9792e4;
    --secondaty-color-light:#cbc9f1;
    --white-text:#fff;
    --yellow-text:#fdc15f;
    --btn-white:#fff;
    --black-text: #000000;
    --gray-text: #5a6e7f;
}

